/* Common Code Page Search Input Vertical Alignment Fix */

.common-code-page .cc-search-input.ant-input-affix-wrapper {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.common-code-page .cc-search-input.ant-input-affix-wrapper > input.ant-input {
  height: 100%;
  padding: 0;
  line-height: 36px;
}

.common-code-page .cc-search-input .ant-input-prefix {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.common-code-page .cc-search-input.ant-input-affix-wrapper input.ant-input {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


